/*nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}*/

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  margin: 0;
  scroll-behavior: smooth;
}

section {
  max-width: 800px;
}

h3 {
  color: #333;
}

ul li {
  margin-bottom: 0.5rem;
}

.vanta-container {
  position: relative;
  width: 100%;
  height: 90vh;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#vanta-bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Hero content (your name) */
.hero-content {
  position: relative;
  z-index: 1;
  /*font-size: 4rem;*/
  margin: 0;
  text-shadow: 0 0 15px rgba(0,0,0,0.7);
  color: #FDFDFD;
  text-align: left;
}

.hero-content p {
  max-width: 70%;
}

.hero-content h1,
.hero-content h2,
.hero-content p {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.hero-content h1 {
  font-size: 4rem;
  margin: 0;
}

.hero-content h2 {
  margin-top: 0;
}

main {
  max-width: 800px;
  margin: 2rem auto 4rem auto;
  padding: 0 1rem;
  color: #222;
}

main section {
  margin-bottom: 3rem;
}

main h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

ul {
  list-style-type: disc;
  padding-left: 1.2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #666;
}